body {
  width: 50%;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(47, 241, 177, 1) 0%,
    rgba(254, 255, 254, 1) 71%,
    rgba(244, 244, 244, 1) 98%
  );
}

header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  font-size: 100px;
  color: #15021e;
  font-weight: 200;
}

.intro {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  color: #2c3e50;
  /* background-color: #608ab5; */
  padding: 5px;
  /* border-radius: 5px; */
}

input {
  font-size: 20px;
  color: #2c3e50;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #2c3e50;
  padding: 5px;
  background: transparent;
}

.task {
  background-color: #292929;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.task span {
  color: #ffffff;
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #6c6777;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 15px;
}

.button.selected {
  color: #ffffff;
  background-color: #6c6777;
}

.button.clear {
  float: right;
  color: #ffffff;
  background-color: #ff0000;
  width: 170px;
}
